:root {
  --image-height: 15vh;
}

input {
  border: none;
}

/* #app {
  text-align: center;
} */

#app-header {
  display: flex;
}

#tier-table {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.tier-table-row {
  width: 49.5vw;
  height: var(--image-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 0.5vw;
}

.tier-name {
  margin: 1rem;
}

.add-tier-btn {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

#gallery {
  margin: 0.5vw;
}

.gallery-image {
  height: var(--image-height);
}